<div class="col-md-4">
                   <div class="panel panel-default" style="color: #333;">
                       <div class="panel-heading">
                           <h3 class="panel-title">Friendly Reminders</h3>
                       </div>
                       <div class="panel-body">
                         <h3>Attendance:</h3>
                         {{ attendancePanelContent|safe }}

                        <h3>Outreach:</h3>
                        {{ outreachPanelContent|safe }}
                       </div>
                   </div>
               </div>
                   <p class="pull-right" style="color: yellow;">&copy; 2015<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, by Jeremy Zhang & NRG948.<br><a href="https://github.com/davequick/nrg948-publicweb/tree/master/static/portfolio" class="yellowLink">Background photos</a> were taken by NRG Media Team.</p>
           </div>
       </div>
   </div>
   <!-- /.container -->
</div> <!-- bodyGradient -->
</div>
